body {
    background: #222;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.game {
    background: #c0c0c0;
    padding: 10px;
    border: 4px solid #888;
    width: fit-content;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
    padding: 10px;
    margin-bottom: 10px;
}

.timer,
.flags {
    background: black;
    color: red;
    padding: 5px 10px;
    font-weight: bold;
    width: 30px;
    text-align: center;
    min-width: 80px;
    gap: 8px;
    font-size: 18px;
}
.flags::before {
    content: "🚩";
    font-size: 18px;
}
.timer::before {
    content: "⏱"; 
    font-size: 18px;
}
.restart {       
    font-size: 24px;
    cursor: pointer;

}
.field {
    display: grid;
    grid-template-columns: repeat(9, 30px); 
    gap: 2px;
}
.cell {
    width: 30px;
    height: 30px;
    box-sizing: border-box;

    display: grid;
    place-items: center;

    font-size: 18px;
    user-select: none;
}
.cell.closed {
    background: #c0c0c0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
    cursor: pointer;
}

.opened {
    background: #ddd;
    border: 2px solid #999;
}
.flag {
    background: #bbb;
    position: relative;
}

.flag::after {
    content: "🚩";
}
.mine {
    background: #ddd;
}

.mine::after {
    content: "💣";
}
.cell.mine-hit {
    background: red;
    border: 1px solid #999;
}

.mine-hit::after {
    content: "💣";
}
